---
import HeaderLink from "./HeaderLink.astro"
import { SITE_TITLE } from "../consts"
import BlueSkyLogo from "./BlueSkyLogo.astro"
import GithubLogo from "./GithubLogo.astro"
import JkrspLogo from "./JkrspLogo.astro"
---

<header>
  <nav class="flex flex-row justify-between p-4 items-end">
    <h2>
      <a href="/" class="sticky top-0">
        <JkrspLogo width="40px" />
      </a>
    </h2>
    <div class="flex flex-row gap-4 items-center py-4">
      <a
        href="https://twitter.com/_jkrsp"
        target="_blank"
        class="hover:text-blue-500"

      >
        <span class="sr-only">Follow Julian on BlueSky</span>
        <BlueSkyLogo />
      </a>

      <a
        href="https://github.com/juliankrispel"
        target="_blank"
        class="hover:text-blue-500"
      >
        <span class="sr-only">Go to Julian's GitHub repo</span>
        <GithubLogo />
      </a>
    </div>
  </nav>
</header>
